{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'finanzas/css/style.css' %}">
    <title>TalkCash</title>
</head>
<body>
    
    <header>
        <h1>TalkCash</h1>
    </header>

    <main id="contenido">
        <h2>Bienvenido</h2>
        <p>Escriba sus gastos del día a día</p>
        
        <div style="margin: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 8px;">
            <p id="mensaje-estado">Estado: <span id="texto-ia">Esperando...</span></p>
        </div>

        <button id="btnGrabar" type="button" onclick="manejarClick()">🎤 Grabar Gasto</button>
    </main>

    <script src="{% static 'finanzas/js/script.js' %}"></script>


</body>
</html>