{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'finanzas/css/style.css' %}">
    <title>TalkCash</title>
</head>
<body>
    
    <header>
        <h1>TalkCash</h1>
    </header>
    <main id="contenido">
    <h2>Bienvenido</h2>
    <p>Escriba sus gatos del dia a dia</p>
    <form>
        <input type="text" id="contenido" name="gasto" placeholder="Escribe tus gastos">

    </form>
</main>

<div class="grabadora-container">
    <button id="btnGrabar">🎤 Grabar Gasto</button>
    <p id="estado"></p>
    <p>Lo que escuché: <span id="texto-ia">...</span></p>
</div>
  

   <!--<nav class="sidebar">
    <ul>
        <li><a href="#" id="abrirModal">Escribir Gasto</a></li>
        <li><a href="#" id="verHistorial">Historial</a></li>
         Ya no hay nada aquí adentro -->
    <!--</ul>
</nav>
Contenido del sidebar-->



    <script src="{% static 'finanzas/css/js/script.js' %}"></script>
</body>
</html>