/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el título */
    position: relative;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    border: 2px solid #333;
    padding: 8px;
    resize: none;
    text-align: center;
    
}

form {
    align-content: center;
}


